<table>
	<caption>Tattoo Artists</caption>
	<thead>
		<tr>
			<th>Name</th>
			<th>Parlor</th>
			<th>Address</th>
			<th>Tattoos</th>
		</tr>
	</thead>
	<tbody>
		<% @artists.each do |artist| %>
		<tr>
			<td><%= artist.full_name %></td>
			<td><%= artist.parlor.name %></td>
			<td><%= artist.parlor.full_address %></td>
			<td><%= artist.tats.count %></td>
		</tr>
		<% end %>
	</tbody>
</table>
