files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/00_setup_elasticsearch.sh":
    mode: "744"
    owner: root
    group: root
    content: |
      #!/bin/bash
      BUILD=false
      sudo apt-get update
      sudo apt-get install openjdk-7-jre

      ES_URL=https://download.elastic.co/elasticsearch/release/org/elasticsearch/distribution/deb/elasticsearch/2.3.2/elasticsearch-2.3.2.deb

      CURRENT_MD5=$(md5sum $(basename "$0") | cut -d ' ' -f 1)

      if [ ! -f ~/.esconfigversion ]; then
        BUILD=true
      fi

      if [ ! $BUILD ] && [ CURRENT_MD5 != $(cat ~/.esconfigversion) ]; then
        BUILD=true
      fi

      if [ $BUILD ]; then
        cd ~/ && wget $ES_URL
        sudo dpkg -i elasticsearch-*

        rm -rf /usr/local/elasticsearch-*
        mv elasticsearch-* /usr/local/

        mkdir /etc/elasticsearch/plugins
        mkdir /var/esdata

        /usr/local/elasticsearch-2.0.0/bin/plugin install cloud-aws

        unlink /opt/aws/bin/elasticsearch
        ln -s /usr/local/elasticsearch-2.0.0/bin/elasticsearch /opt/aws/bin

        chown -R webapp:webapp /var/esdata

        echo $(md5sum $(basename "$0")) > ~/.esconfigversion
      fi

      sudo update-rc.d elasticsearch defaults 95 10
      sudo /etc/init.d/elasticsearch start