files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/00_setup_elasticsearch.sh":
    mode: "744"
    owner: root
    group: root
    content: |
      #!/bin/bash
      BUILD=false
      sudo yum update
      sudo yum install openjdk-7-jre

      ES_URL=https://download.elastic.co/elasticsearch/release/org/elasticsearch/distribution/deb/elasticsearch/2.3.2/elasticsearch-2.3.2.deb

      wget $ES_URL
      sudo yum install elasticsearch-2.3.2.deb

      sudo update-rc.d elasticsearch defaults 95 10
      sudo /etc/init.d/elasticsearch start