files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/00_setup_elasticsearch.sh":
    mode: "744"
    owner: root
    group: root
    content: |
      #!/bin/bash
      BUILD=false
      sudo yum update
      sudo yum install openjdk-7-jre

      ES_URL=https://download.elastic.co/elasticsearch/release/org/elasticsearch/distribution/tar/elasticsearch/2.3.1/elasticsearch-2.3.1.tar.gz

      wget $ES_URL
      tar elasticsearch-2.3.1.tar.gz
      cd elasticsearch-2.3.1
      ./configure
      make
      sudo make install

      sudo update-rc.d elasticsearch defaults 95 10
      sudo /etc/init.d/elasticsearch start