<%= form_tag search_parlors_path, method: :get, class: "navbar-form navbar-right", role: "search" do %>
<p>
	<%= text_field_tag :search, params[:search], class: 'form-control' %>
	<%= submit_tag "Search", name: nil, class: 'btn btn-default' %>
</p>
<% end %>
<%= react_component 'Parlors', { parlors: @parlors } %>
