/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap";

body {
	padding: 16px;
}

hr {
	margin-bottom: 16px;
}

.form-inline > .form-group, .btn-primary {
	padding-right: 16px;
	margin-top: 16px;
}

.card {
	@include make-col();
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 1em;
	display: table;
	table-layout: fixed;
	@media (max-width: 47.9em) {
		@include make-col-span(5);
		height: 60vh;
	}
	@include make-col-span(2);
	height: 40vh;
}

 .info {
 	border: thin solid gray;
	background: rgba(255, 255, 255, 0.8);
	margin: 5%;
	width: 90%;
	display: table-cell;
	vertical-align: bottom;
 }

 .infoholder {
 	display: table-cell;
 	vertical-align: bottom;
 	width: 100%;
 }

 .infocontainer {
 	display: table;
 	table-layout: fixed;
 	margin-bottom: 1rem;
 	width: 100%;
 }